
@media (min-width: 1440px) {
  .region_periodic_table {
    min-width: 1440px;
    min-height: 750px;
    overflow-x: hidden;
    background-color: gray;
  }
  .periodic_table {
    position: relative;
    margin: auto;
    background-color: orange;
    width: 1404px;
  }
  .element {
    width: 74px;
    height: 74px;
    padding: 2px;
    margin: 2px;
    background-color: lightgray;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .element_name {
    font-size: 11px;  
  }
}
@media (min-width: 1920px) {
  .region_periodic_table {
    min-width: 1910px;
    min-height: 750px;
    overflow-x: hidden;
    background-color: gray;
  }
  .periodic_table {
    position: relative;
    margin: auto;
    background-color: orange;
    width: 1888px;
  }
  .element {
    width: 57px;
    height: 57px;
    padding: 2px;
    margin: 1px;
    background-color: lightgray;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .element_num {
    font-size: 12px;
  }
  .element_name {
    font-size: 10px;  
  }
  .element_symbol {
    font-size: 14px;
  }
  .element_mass {
    font-size: 10px;
  }
}

.floor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  /* background-color: orange; */
}
.left {
  /* flex: 2; */
  display: flex;
  flex-direction: row;
  /* background-color: rosybrown; */
}
.right {
  /* flex: 16; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: royalblue; */
}

@media (min-width: 1440px) {
  .periodic_table .tag.lanthanide {
    display: block;
  }
  .periodic_table .tag.actinide {
    display: block;
  }
  .periodic_table .lanthanide {
    display: none;
    margin: 3px;
    background-color: lightblue;
    box-sizing: border-box;
  }
  .periodic_table .actinide {
    display: none;
    margin: 3px;
    background-color: lightpink;
    box-sizing: border-box;
  }
  .lanthanide_table {
    position: relative;
    left: 234px;
    top: 30px;
    width: 1404px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 190, 190);
  }
  .actinide_table {
    position: relative;
    left: 234px;
    top: 30px;
    width: 1404px;
    margin: auto;
    display: flex;  
    flex-direction: row;
    background-color: rgb(176, 176, 255);
  }
}
@media (min-width: 1920px) {
  .periodic_table .tag.lanthanide {
    display: none;
  }
  .periodic_table .tag.actinide {
    display: none;
  }
  .periodic_table .lanthanide {
    display: block;
    margin: 1px;
    background-color: lightblue;
    box-sizing: border-box;
  }
  .periodic_table .actinide {
    display: block;
    margin: 1px;
    background-color: lightpink;
    box-sizing: border-box;
  }
  .lanthanide_table {
    display: none;
  }
  .actinide_table {
    display: none;
  }
}

